.env
.env.*
!.env.example

node_modules

coverage


# Logs
logs
*.log

#  tunnel file
config/tunnel.pid

# vite build output
dist/

# extensions build output
extensions/*/build

# Ignore shopify files created during app dev
.shopify/*
.shopify.lock
